<div class="flex flex-row items-center justify-between content-center px-3 py-1 bg-transparent">
    <span class="font-semibold px-2 text-xl">
      QR Code 
    </span>
    <div>
        <button mat-icon-button type="button" (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content align="start" class="mt-2">
    <div *ngIf="data.requiredData" class="flex flex-row justify-center gap-2">
        <qrcode 
            #qrCode
            [qrdata]="generateQrCodeData(requiredData)" 
            [width]="200" 
            [errorCorrectionLevel]="'M'"
            [colorDark]="getQrCodeColors(data.requiredData.status).colorDark"
            [colorLight]="getQrCodeColors(data.requiredData.status).colorLight">
        </qrcode>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="m-2">
    <button mat-stroked-button color="warn" class="cancel-button" (click)="onCancel()">
        Close
    </button>
    <button mat-icon-button type="button" (click)="onSaveQrCode()">
        <mat-icon>print</mat-icon>
    </button>
</mat-dialog-actions>
