<div class="min-h-screen flex flex-col">
    <div class="flex-none px-gutter pt-5 bg-[#E8F2F3] ">
        <div @fadeInRight class="flex flex-row justify-between px-5">
            <div class="flex flex-col">
                <h1 class="font-semibold max-w-3xs mr-6 text-2xl">Approve/ Reject Claim</h1>
            </div>
        </div>
        <div class="flex-grow px-5">
            <mat-card class="w-full">
              <mat-accordion>
                <mat-expansion-panel 
                  hideToggle 
                  [expanded]="true" 
                  (opened)="containerPanelOpened = true" 
                  (closed)="containerPanelOpened = false">
                  
                  <mat-expansion-panel-header>
                    <mat-panel-title class="text-lg">
                      <span class="font-semibold">Search</span>
                    </mat-panel-title>
                    <mat-icon>{{ containerPanelOpened ? 'expand_less' : 'expand_more' }}</mat-icon>
                  </mat-expansion-panel-header>
          
                  <div class="flex flex-wrap gap-5">
                    <!-- Input Field -->
                    <form [formGroup]="adminSearch" class="flex flex-wrap gap-5 w-full">
                      <mat-form-field appearance="outline" class="flex-auto">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput type="text" placeholder="Email" />
                        <button mat-icon-button matSuffix (click)="search()" aria-label="Search">
                          <mat-icon>search</mat-icon>
                        </button>
                      </mat-form-field>
          
                      <mat-form-field appearance="outline" class="flex-auto">
                        <mat-label>Received Date</mat-label>
                        <input 
                          formControlName="to" 
                          matInput 
                          [matDatepicker]="toPicker" 
                          (dateChange)="dateFilter($event)" 
                        />
                        <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
                        <mat-datepicker #toPicker></mat-datepicker>
                      </mat-form-field>
          
                      <mat-form-field appearance="outline" class="flex-auto">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" class="custom-mat-input">
                          <mat-option *ngFor="let options of statusDropDown" [value]="options.label">
                            {{ options.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
          
                    <!-- Buttons Container -->
                    <div class="w-full flex justify-end gap-2 mt-4">
                      <button mat-button color="warn" (click)="SearchAndClear('clear')">
                        Clear
                      </button>
                      <button mat-button color="primary" (click)="SearchAndClear('search')">
                        Search
                      </button>
                    </div>
                  </div>
          
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card>
          </div>
          
    </div>
    <div  class="flex-grow mt-5 bg-[#E8F2F3] p-5">
        <app-data-table (markClaimed)="markClaimed($event)" (rejectClaim)="rejectClaim($event)"
            (sort)="handleSort($event)" (approveClaim)="approveClaim($event)" (remove)="confirmRemove($event)"
            [tableColumns]="displaycoloums" [adminActions]="true" (previewImage)="previewImage($event)"
            [showUnClaim]="false" [isPageable]="true" [tableData]="searchResults" [paginationSizes]="[5, 10, 15, 20]"
            [defaultPageSize]="15">
        </app-data-table>
    </div>
    <div *ngIf="!searchResults"  class="flex-grow mt-5 bg-[#E8F2F3] p-5">
        <app-data-table (markClaimed)="markClaimed($event)" (rejectClaim)="rejectClaim($event)"
            (sort)="handleSort($event)" (approveClaim)="approveClaim($event)" (remove)="confirmRemove($event)"
            [tableColumns]="displaycoloums" [adminActions]="true" (previewImage)="previewImage($event)"
            [showUnClaim]="false" [isPageable]="true" [tableData]="initalData" [paginationSizes]="[5, 10, 15, 20]"
            [defaultPageSize]="15">
        </app-data-table>
    </div>
    <div class="flex-none">
        <app-form-footer></app-form-footer>
    </div>
    <div class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
        <div class="flex justify-between items-center h-16 px-4 ">
            <!-- Notification Icon -->
            <button class="flex flex-col items-center mx-[50px] hover:text-teal-500" [routerLink]="'/claimit/dashboard'" >
                <mat-icon class="text-[#00897b] text-2xl">home</mat-icon>
                <span class="text-xs">Home</span>
              </button>
            <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/addItem'" >
                <mat-icon class="text-[#00897b] ">add_circle</mat-icon>
                <span class="text-xs">Add Item</span>
            </button>
           
            <button class="flex flex-col items-center text-gray-600 hover:text-teal-500" [routerLink]="'/claimit/search'">
                <mat-icon class="text-[#00897b] text-xl">rule</mat-icon>
                <span class="text-xs mt-1">Approve/Claim</span>
            </button>
              
        </div>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>
</div>