.image-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actions-overlay {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7); 
  z-index: 1;
}
.category-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1% 9px; 
}

.category-card {
  flex: 0 0 19.2%; 
  box-sizing: border-box;
  margin-bottom: 20px;
}