<div class="container ">
    <div class="header p-5">
      <h1>Shop By Category</h1>
      <button mat-raised-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon> Add Category
      </button>
    </div>
  
    <div class="category-grid p-5">
      <mat-card *ngFor="let category of categories" class="category-card" 
                [ngStyle]="{'background-color': category.bgColor}">
        <mat-card-content>
          <div class="image-container">
            <img [src]="category.image" alt="{{category.name}}">
            <div class="actions-overlay">
              <button mat-icon-button 
                      color="primary"
                      (click)="openEditDialog(category); $event.stopPropagation()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button 
                      color="warn"
                      (click)="deleteCategory(category); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <h2 class="category-title">
            <span *ngFor="let line of category.displayName">{{line}}<br></span>
          </h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>