<div class="min-h-screen flex flex-col">
    <div class="flex-none px-gutter pt-5 bg-[#E8F2F3] ">
        <div @fadeInRight class="flex flex-row justify-between px-5">
            <div class="flex flex-col">
                <h1 class="font-semibold max-w-3xs mr-6 text-2xl">View History</h1>
            </div>
        </div>
        <div class="flex-grow px-5">
            <mat-card class="w-full">
                <mat-accordion>
                    <mat-expansion-panel hideToggle [expanded]="true" (opened)="containerPanelOpened = true"
                        (closed)="containerPanelOpened = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-lg">
                                <span class="font-semibold">Filters</span>
                            </mat-panel-title>
                            <mat-icon>{{ containerPanelOpened ? 'expand_less' : 'expand_more' }}</mat-icon>
                        </mat-expansion-panel-header>
                        <div class="flex flex-wrap items-center gap-5">
                            <!-- Input Field -->
                            <form [formGroup]="viewUnclaimForm" class="flex flex-wrap gap-5 w-full">
                              <mat-form-field appearance="outline" class="flex-auto">
                                <mat-label>Email</mat-label>
                                <input 
                                  matInput 
                                  type="text" 
                                  placeholder="Email" 
                                  formControlName="email" 
                                  (keyup.enter)="search()"
                                />
                                <button mat-icon-button matSuffix (click)="search()" aria-label="Search">
                                  <mat-icon>search</mat-icon>
                                </button>
                              </mat-form-field>
                          
                              <mat-form-field appearance="outline" class="flex-auto">
                                <mat-label>Name</mat-label>
                                <input 
                                  matInput 
                                  type="text" 
                                  placeholder="Name" 
                                  formControlName="name" 
                                  (keyup.enter)="search()" 
                                />
                                <button mat-icon-button matSuffix (click)="search()" aria-label="Search">
                                  <mat-icon>search</mat-icon>
                                </button>
                              </mat-form-field>
                            </form>
                          
                            <!-- Buttons Container -->
                            <div class="w-full flex justify-end gap-2 mt-[-1rem]">
                              <button mat-button color="warn" (click)="SearchAndClear('clear')">
                                Clear
                              </button>
                              <button mat-button color="primary" (click)="search()">
                                Search
                              </button>
                            </div>
                          </div>
                          
                        
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
    </div>
    <div *ngIf="searchResults.length > 0" class="flex-grow mt-14 mx-3"  class="flex-grow mt-5 bg-[#E8F2F3] p-5">
        <app-data-table [tableColumns]="displaycoloums" (previewImage)="previewImage($event)" [showUnClaim]="false" (unClaim)="confirmUnclaim($event)" 
        [isPageable]="true" [tableData]="searchResults" [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
        </app-data-table>
    </div>
    <!-- <div  class="flex-grow mt-14 mx-3"  class="flex-grow mt-5 bg-[#E8F2F3] p-5">
        <app-data-table [tableColumns]="displaycoloums" (previewImage)="previewImage($event)" [showUnClaim]="false" (unClaim)="confirmUnclaim($event)" 
        [isPageable]="true" [tableData]="initalData" [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
        </app-data-table>
    </div> -->
    <div *ngIf="!(searchResults.length > 0 &&  initalData.length == 0)" 
        class="relative flex flex-col items-center justify-center bg-white">
     <img src="assets/Animation - 1737116880117 (1).gif" alt="No results found" class="no-results-gif pl-[100px]" />
     <p class="mt-36 p-3 text-center text-gray-600 tracking-tight">
       No Records Found
     </p>
   </div>
 
</div>
<app-loader *ngIf="isLoading"></app-loader>
<div class="flex-none">
  <app-form-footer></app-form-footer>
</div>