<div class="min-h-screen flex flex-col">
    <div class="flex-none px-gutter pt-5 bg-[#E8F2F3] ">
        <div @fadeInRight class="flex flex-row justify-between px-5">
            <div class="flex flex-col">
                <h1 class="font-semibold max-w-3xs mr-6 text-2xl">View/Unclaim</h1>
            </div>
        </div>
        <div class="flex-grow px-5">
            <mat-card class="w-full">
                <mat-accordion>
                    <mat-expansion-panel hideToggle [expanded]="false" (opened)="containerPanelOpened = true"
                        (closed)="containerPanelOpened = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-lg">
                                <span class="font-semibold">Search</span>
                            </mat-panel-title>
                            <mat-icon>{{ containerPanelOpened ? 'expand_less' : 'expand_more' }}</mat-icon>
                        </mat-expansion-panel-header>
                        <div class="flex flex-wrap items-center gap-5">
                            <!-- Input Field -->
                            <form [formGroup]="viewUnclaimForm" class="flex flex-wrap items-center gap-5">
                                <mat-form-field appearance="outline" class="search-field">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text" placeholder="Email" formControlName="email"
                                        (keyup.enter)="search()"/>
                                    <button mat-icon-button matSuffix (click)="search()" aria-label="Search">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="search-field">
                                    <mat-label>Name</mat-label>
                                    <input matInput type="text" placeholder="name" formControlName="name"
                                        (keyup.enter)="search()" />
                                    <button mat-icon-button matSuffix (click)="search()" aria-label="Search">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>
                            </form>
                        
                            <!-- Buttons Container -->
                            <div class="flex flex-row justify-end gap-2 ml-auto">
                                <button mat-button color="warn" (click)="SearchAndClear('clear')"
                                    class="bg-transparent text-teal-500 font-semibold py-1 px-4 border border-transparent hover:border-teal-500 rounded">
                                    Clear
                                </button>
                                <button mat-flat-button color="primary" (click)="search()"
                                    class="bg-transparent text-teal-500 font-semibold py-1 px-4 border border-transparent hover:border-teal-500 rounded">
                                    Search
                                </button>
                            </div>
                        </div>
                        
                        
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
    </div>

    <div class="flex-grow mt-14 mx-3">
        <app-data-table [tableColumns]="displaycoloums" (previewImage)="previewImage($event)" [showUnClaim]="false" (unClaim)="confirmUnclaim($event)" 
        [isPageable]="true" [tableData]="searchResults" [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
        </app-data-table>
    </div>
    <div class="flex-none">
        <app-form-footer></app-form-footer>
    </div>
    <div class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
        <div class="flex justify-between items-center h-16 px-4 ">
            <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/dashboard'" >
                <mat-icon class="text-[#00897b] ">home</mat-icon>
                <span class="text-xs">Home</span>
            </button>
           
            <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/searchAndClaim'" >
                <mat-icon class="text-[#00897b] ">search</mat-icon>
                <span class="text-xs">Search And Claim</span>
            </button>
              
        </div>
    </div>
    <app-loader *ngIf="loader"></app-loader>
</div>