<mat-card>
    <div class="flex flex-col flex-wrapw-full bg-gray-100 flex-col lg:flex-row md:flex-row justify-between items-center">
      <div>
        <img class="flex p-1 w-28 key" src="assets/loginLogo.jpg" alt="claimit" />
      </div>
      <div class="flex flex-col flex-auto justify-center">
        <span class="font-semibold text-m flex justify-center">
          <span class="pl-2">
            <a href="{{ claimitURl }}" target="_blank">claimIt.com</a> |<a href="{{ companyInfo }}"
              target="_blank">Company Info
            </a>
            |
            <a href="{{ claimitURl }}" target="_blank">Search for your Valuables</a>
            | <a href="{{ claimitURl }}" target="_blank">User Agreement </a>
          </span>
        </span>
        <span class="flex text-xs justify-center pl-2">
          copyright {{ year }} {{ Owner }} {{ reserved }}
          {{ version }}
        </span>
      </div>
    </div>
  </mat-card>