<div *ngIf="isMobileView" class="px-5 pt-5 bg-[#E8F2F3]">
  <span class="font-bold max-w-3xs mr-6 text-2xl">Search and Claim</span>
  
  <div class="w-full flex items-center mt-4">
    <mat-form-field appearance="outline" class="w-full flex-grow">
      <mat-label>Search your lost item</mat-label>
      <input type="text" matInput placeholder="Search items" [(ngModel)]="searchQuery" (keyup.enter)="searchItems()" />
      <button mat-icon-button matSuffix (click)="triggerFileInput()">
        <mat-icon>camera_alt</mat-icon>
      </button>
      <button mat-icon-button matSuffix [matMenuTriggerFor]="filterMenu">
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-menu #filterMenu="matMenu">
        <button mat-menu-item *ngFor="let category of categories" (click)="selectCategory1(category.name)">
          {{ category.name }}
        </button>
      </mat-menu>
      <button mat-icon-button matSuffix *ngIf="searchQuery || selectedCategory || files.length > 0" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <input #fileInput type="file" (change)="onSelect($event)" class="hidden" />
  <mat-menu #filterMenu="matMenu" class="max-h-60 overflow-y-auto">
    <button mat-menu-item *ngFor="let category of categories" (click)="onCategorySelect(category.name)">
      {{ category.name }}
    </button>
  </mat-menu>

  <div *ngIf="searchResults?.length > 0" class="flex-grow mx-3 scrollbar-hide overflow-y-auto bg-[#E8F2F3]">
    <app-data-table [tableData]="searchResults" [tableColumns]="displaycoloums" [isPageable]="true" 
      [defaultPageSize]="15" [showUnClaim]="true" (ClaimItem)="claimItem($event)" 
      (previewImage)="previewImage($event)" (sort)="handleSort($event)"></app-data-table>
  </div>
  <div *ngIf="!(searchResults?.length > 0 || categerorydata?.length > 0 || matchedItems?.length > 0)"  class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
    <app-data-table (previewImage)="previewImage($event)" (ClaimItem)="claimItem($event)" (sort)="handleSort($event)"
      [tableColumns]="displaycoloums" [showUnClaim]="true" [isPageable]="true" [tableData]="initalDataResults"
      [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
    </app-data-table>
  </div>
  <div *ngIf="!searchResults?.length && categerorydata?.length > 0 &&  !matchedItems?.length && !isMobileView"
    class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
    <app-data-table [tableData]="categerorydata" [tableColumns]="displaycoloums" [isPageable]="true"
      [defaultPageSize]="15" [showUnClaim]="true" (ClaimItem)="claimItem($event)" (previewImage)="previewImage($event)"
      (sort)="handleSort($event)"></app-data-table>
</div>

  <div *ngIf="matchedItems?.length > 0"  class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
    <app-data-table (previewImage)="previewImage($event)" (ClaimItem)="claimItem($event)" (sort)="handleSort($event)"
      [tableColumns]="displaycoloums" [showUnClaim]="true" [isPageable]="true" [tableData]="matchedItems"
      [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
    </app-data-table>
  </div>
  <div *ngIf="!categeoryerror && categerorydata?.length > 0" class="flex-grow mt-5 bg-[#E8F2F3]">
    <app-data-table [tableData]="categerorydata" [tableColumns]="displaycoloums" [isPageable]="true"
      [defaultPageSize]="15" [showUnClaim]="true" (ClaimItem)="claimItem($event)"
      (previewImage)="previewImage($event)" (sort)="handleSort($event)"></app-data-table>
  </div>
  <div *ngIf="(searchResults?.length == 0 || noresultsforPicturesearch || categerorydata?.length == 0  || initalDataResults?.length == 0) &&  noresultsFound" 
    class="relative flex flex-col items-center justify-center bg-white">
 <img src="assets/Animation - 1737116880117 (1).gif" alt="No results found" class="no-results-gif pl-[100px]" />
 <p class="mt-36 p-3 text-center text-teal-600 tracking-tight">
   No Records Found
 </p>
</div>
</div>





























<div  *ngIf="!isMobileView" class="min-h-screen flex flex-col">
  <div class="flex-none px-gutter pt-5 bg-[#E8F2F3] ">
      <div @fadeInRight class="flex flex-row justify-between px-5">
          <div class="flex flex-col">
              <h1 class="font-semibold max-w-3xs mr-6 text-2xl">Search and Claim</h1>
          </div>
      </div>
      <div class="flex-grow px-5">
          <mat-card class="w-full">
              <mat-accordion>
                  <mat-expansion-panel hideToggle [expanded]="true" (opened)="containerPanelOpened = true"
                      (closed)="containerPanelOpened = false">
                      <mat-expansion-panel-header>
                          <mat-panel-title class="text-lg">
                              <span class="font-semibold">Filters</span>
                          </mat-panel-title>
                          <mat-icon>{{ containerPanelOpened ? 'expand_less' : 'expand_more' }}</mat-icon>
                      </mat-expansion-panel-header>
                      <div class="flex flex-wrap items-center gap-5">
                        <!-- Input Field -->
                        <mat-form-field appearance="outline" class="flex-1">
                          <mat-label>Enter item name</mat-label>
                          <input
                            type="text"
                            matInput
                            placeholder="Search items"
                            [(ngModel)]="searchQuery"
                            (keyup.enter)="searchItems()"
                          />
                          <button mat-icon-button matSuffix (click)="searchItems()" aria-label="Search">
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>
                      
                        <!-- Dropdown -->
                        <mat-form-field appearance="outline" class="flex-1">
                          <mat-label>Select with in Category</mat-label>
                          <mat-select
                            [(ngModel)]="selectedCategory"
                            (selectionChange)="onCategoryChange($event.value)"
                          >
                            <!-- Customize the display of the selected value -->
                            <mat-select-trigger>
                              <span *ngIf="selectedCategory" class="text-sm font-medium">
                                {{ selectedCategory }}
                              </span>
                              <span *ngIf="!selectedCategory" class="text-sm text-gray-500">
                                Select a category
                              </span>
                            </mat-select-trigger>
                      
                            <!-- Dropdown options -->
                            <mat-option *ngFor="let item of categories" [value]="item.name">
                              <div class="flex items-center gap-2">
                                <!-- <mat-icon [ngStyle]="{ color: '#388d97' }" class="text-xl">
                                  {{ getCategoryIcon(item.name) }}
                                </mat-icon> -->
                                <span class="text-sm font-medium truncate">{{ item.name }}</span>
                              </div>
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      
                        <!-- File Upload -->
                        <div class="text-center p-6 flex-1">
                          <div
                            class="border-dashed border-2 rounded-lg p-[10px] mb-[29px] flex items-center justify-between"
                            style="border-color: #00897b;"
                          >
                            <input type="file" id="fileInput" class="hidden" (change)="onFileSelect($event)" />
                            <label for="fileInput" class="text-left text-gray-500">
                              {{ selectedFileName || 'No file selected' }}
                            </label>
                            <label
                              for="fileInput"
                              class="text-white rounded px-4 py-2 cursor-pointer"
                              style="background-color: #00897b;"
                            >
                              Upload Picture
                            </label>
                          </div>
                        </div>
                      
                        <!-- Buttons Container -->
                        <div class="w-full flex justify-end gap-2 mt-[-4rem]">
                          <button mat-button color="warn" (click)="clearSearch()">
                            Clear
                          </button>
                          <button mat-button color="primary" (click)="searchItems()">
                            Search
                          </button>
                        </div>
                      </div>
                      
                      
                  </mat-expansion-panel>
              </mat-accordion>
          </mat-card>
          <div *ngIf="!(searchResults?.length > 0 || categerorydata?.length > 0 || matchedItems?.length > 0)"  class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
            <app-data-table (previewImage)="previewImage($event)" (ClaimItem)="claimItem($event)" (sort)="handleSort($event)"
              [tableColumns]="displaycoloums" [showUnClaim]="true" [isPageable]="true" [tableData]="initalDataResults"
              [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
            </app-data-table>
          </div>
          <div *ngIf="!searchResults?.length && categerorydata?.length > 0 &&  !matchedItems?.length && !isMobileView"
            class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
            <app-data-table [tableData]="categerorydata" [tableColumns]="displaycoloums" [isPageable]="true"
              [defaultPageSize]="15" [showUnClaim]="true" (ClaimItem)="claimItem($event)" (previewImage)="previewImage($event)"
              (sort)="handleSort($event)"></app-data-table>
        </div>
        
          <div *ngIf="matchedItems?.length > 0"  class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
            <app-data-table (previewImage)="previewImage($event)" (ClaimItem)="claimItem($event)" (sort)="handleSort($event)"
              [tableColumns]="displaycoloums" [showUnClaim]="true" [isPageable]="true" [tableData]="matchedItems"
              [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
            </app-data-table>
          </div>
          <div *ngIf="searchResults?.length > 0"class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
            <app-data-table (ClaimItem)="claimItem($event)" (previewImage)="previewImage($event)" [showUnClaim]="true"
              [tableColumns]="displaycoloums" [isPageable]="true" [tableData]="searchResults" (sort)="handleSort($event)"
              [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15"></app-data-table>
          </div>
          <div *ngIf="(searchResults?.length == 0 || noresultsforPicturesearch || categerorydata?.length == 0  || initalDataResults?.length == 0 || noresultsforPicturesearch)  &&  noresultsFound" 
            class="relative flex flex-col items-center justify-center bg-white">
         <img src="assets/Animation - 1737116880117 (1).gif" alt="No results found" class="no-results-gif pl-[100px]" />
         <p class="mt-36 p-3 text-center text-teal-600 tracking-tight">
           No Records Found1
         </p>
       </div>
       
       
      </div>
    
  </div>
 
  <div class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
      <div class="flex justify-between items-center h-16 px-4 ">
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/dashboard'" >
          <mat-icon class="text-[#00897b] ">home</mat-icon>
          <span class="text-xs">Home</span>
      </button>
          <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/searchAndClaim'" >
              <mat-icon class="text-[#00897b] ">search</mat-icon>
              <span class="text-xs">Search And Claim</span>
          </button>
         
          <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/viewOrUnclaim'" >
              <mat-icon class="text-[#00897b] ">visibility</mat-icon>
              <span class="text-xs">View History</span>
          </button>
            
      </div>
  </div>
</div>
<div   class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
  <div class="grid grid-cols-3 items-center h-16 px-4">
      <button class="flex flex-col items-center text-gray-600 hover:text-teal-500" [routerLink]="'/claimit/dashboard'">
          <mat-icon class="text-[#00897b]">home</mat-icon>
          <span class="text-xs">Home</span>
      </button>
      <button class="flex flex-col items-center text-gray-600 hover:text-teal-500" [routerLink]="'/claimit/searchAndClaim'">
          <mat-icon class="text-[#00897b]">search</mat-icon>
          <span class="text-xs">Search And Claim</span>
      </button>
      <button class="flex flex-col items-center text-gray-600 hover:text-teal-500" [routerLink]="'/claimit/viewOrUnclaim'">
          <mat-icon class="text-[#00897b]">visibility</mat-icon>
          <span class="text-xs">View History</span>
      </button>
  </div>
</div>
<div *ngIf="!isMobileView" class="flex-none">
  <app-form-footer></app-form-footer>
</div>
<app-loader *ngIf="isLoading"></app-loader>
