<div class="min-h-screen flex flex-col">
  <mat-tab-group>
        <mat-tab label="Item Type">
          <div class="flex flex-col min-h-screen bg-[#E8F2F3] scrollbar-hide overflow-y-auto">
            <div class="px-5 pt-5 pb-5">
              <h1 class="font-semibold text-2xl max-w-3xs">Item Type Search</h1>
              <mat-card class="mt-4">
                <mat-accordion>
                  <mat-expansion-panel
                    hideToggle
                    [expanded]="false"
                    (opened)="containerPanelOpened = true"
                    (closed)="containerPanelOpened = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="text-lg">
                        <span class="text-2xl mt-1">Filters</span>
                      </mat-panel-title>
                      <mat-icon>{{
                        containerPanelOpened ? 'expand_less' : 'expand_more'
                      }}</mat-icon>
                    </mat-expansion-panel-header>
                    <div class="flex flex-wrap items-center gap-5">
                      <mat-form-field appearance="outline" class="w-full lg:w-auto">
                        <mat-label>Item Type Search</mat-label>
                        <input
                          type="text"
                          matInput
                          placeholder="Enter item name"
                          [(ngModel)]="searchQuery"
                        />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="searchItems()"
                          aria-label="Search"
                        >
                          <mat-icon>search</mat-icon>
                        </button>
                      </mat-form-field>
                      <div class="flex ml-auto">
                        <button
                          mat-button
                          color="warn"
                          (click)="SearchAndClear('clear')"
                          class="bg-transparent text-teal-500 font-semibold py-1 px-4 border border-transparent hover:border-teal-500 rounded"
                        >
                          Clear
                        </button>
                        <button
                          mat-flat-button
                          color="primary"
                          (click)="searchItems()"
                          class="ml-2 bg-transparent text-teal-500 font-semibold py-1 px-4 border border-transparent hover:border-teal-500 rounded"
                        >
                          Search
                        </button>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-card>
            </div>
            <div class="flex-grow mt-14 mx-3 scrollbar-hide overflow-y-auto">
              <app-data-table (ClaimItem)="claimItem($event)" 
              [showUnClaim]="true"
                [tableColumns]="displaycoloums"
                [isPageable]="true"
                [tableData]="searchResults"
                [paginationSizes]="[5, 10, 15, 20]"
                [defaultPageSize]="15"
              ></app-data-table>
            </div>
          </div>
        </mat-tab>
    
        <mat-tab label="Picture">
          <div class="flex flex-col min-h-screen bg-[#E8F2F3] scrollbar-hide overflow-y-auto">
            <div class="px-5 pt-5 pb-5">
              <h1 class="font-semibold text-2xl max-w-3xs">Picture Search</h1>
              <mat-card  class="mt-4">
                <mat-accordion >
                  <mat-expansion-panel hideToggle [expanded]="false" (opened)="containerPanelOpened = true"
                    (closed)="containerPanelOpened = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="text-lg">
                        <span class="text-2xl mt-1">Filters</span>
                      </mat-panel-title>
                      <mat-icon>{{ containerPanelOpened ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col items-center lablestyle space-y-4">
                      <ngx-dropzone (change)="onSelect($event)" class="w-full max-w-sm">
                        <ngx-dropzone-label>
                          Drag and drop image here or click to upload
                        </ngx-dropzone-label>
    
                        <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" [removable]="true" *ngFor="let f of files"
                          [file]="f" (removed)="onRemove(f)">
                          <ngx-dropzone-label class="label">{{ f.name }}</ngx-dropzone-label>
                        </ngx-dropzone-preview>
    
                        <ngx-dropzone-preview *ngFor="let f of files" [file]="f"></ngx-dropzone-preview>
                      </ngx-dropzone>
                      <button mat-raised-button color="primary" class="w-full max-w-sm" (click)="onImportToExcel()">
                        <mat-icon>upload</mat-icon>
                        Upload Image
                      </button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-card>
            </div>
            <div class="flex-grow mt-14 mx-3 scrollbar-hide overflow-y-auto">
              <app-data-table (ClaimItem)="claimItem($event)"  [tableColumns]="displaycoloums" [showUnClaim]="true"
              [isPageable]="true" [tableData]="matchedItems" [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
              </app-data-table>
            </div>
          </div>
        </mat-tab>
    <mat-tab label="Category">
      <div class="flex flex-col min-h-screen bg-[#E8F2F3] scrollbar-hide overflow-y-auto">
        <div class="px-5 pt-5 pb-5">
          <h1 class="font-semibold text-2xl max-w-3xs">Category Search</h1>
          <mat-card class="mt-4">
            <mat-accordion>
              <mat-expansion-panel hideToggle [expanded]="false" (opened)="containerPanelOpened = true"
                (closed)="containerPanelOpened = false">
                <mat-expansion-panel-header>
                  <mat-panel-title >
                    <span class="text-2xl mt-1">
                      Filters
                    </span>
                    
                  </mat-panel-title>
                  <mat-icon class="text-blue-500">
                    {{ containerPanelOpened ? 'expand_less' : 'expand_more' }}
                  </mat-icon>
                </mat-expansion-panel-header>
    
                <!-- Form Field and Button Container -->
                <div class="flex w-full space-x-4">
                  <!-- Form field and button in a single column -->
                  <!-- <div class="flex flex-col space-y-4 w-1/3">
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Items List</mat-label>
                      <mat-select [(value)]="selectedCategory">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{ food.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="w-full" (click)="search()">
                      <mat-icon>search</mat-icon>
                      <span>Search</span>
                    </button>
                  </div> -->
    
                  <!-- Cards in another column -->
                  <div class="flex flex-wrap gap-4 w-2/3">
                    <mat-card *ngFor="let food of foods; index as i"
                      class="w-40 h-20  shadow-md hover:bg-gray-100 cursor-pointer" (click)="selectCategory(food.value)">
                      <mat-card-header class="flex justify-center items-center   custom-icon h-full">
                        <mat-icon [ngStyle]="{ color: '#388d97' }" class="items-center justify-center">
                          {{ getCategoryIcon(food.value) }}
                        </mat-icon>
                      </mat-card-header>
                      <mat-card-title class="text-center text-sm font-medium">
                        {{ food.viewValue }}
                      </mat-card-title>
                    </mat-card>
    
                  </div>
                </div>
    
    
    
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card>
        </div>
        <div class="flex-grow mt-14 mx-3 scrollbar-hide overflow-y-auto">
          <app-data-table (ClaimItem)="claimItem($event)"  [tableColumns]="displaycoloums" [showUnClaim]="true" [isPageable]="true" [tableData]="categerorydata"
            [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
          </app-data-table>
        </div>
      </div>
    </mat-tab>
    </mat-tab-group>
  </div>
  <div class="flex-none">
    <app-form-footer></app-form-footer>
</div>
<div *ngIf="loader">
  <app-loader></app-loader>
</div>