<div class="min-h-screen flex flex-col">
  <div *ngIf="isMobileView" class="px-5 pt-5 bg-[#E8F2F3]">
    <span class="font-bold max-w-3xs mr-6 text-2xl">Search and Claim</span>
    <div class="filter-container">
      <div class="search-section">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Search your lost item</mat-label>
          <input type="text" matInput placeholder="Search items" [(ngModel)]="searchQuery"
            (keyup.enter)="searchItems()" />
          <button mat-icon-button matSuffix (click)="searchItems()" aria-label="Search">
            <mat-icon>search</mat-icon>
          </button>

          <button *ngIf="searchQuery && searchQuery.trim().length > 0" mat-icon-button matSuffix
            (click)="clearSearch()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div *ngIf="searchResults?.length > 0" class="flex-grow mt-14 mx-3 scrollbar-hide overflow-y-auto bg-[#E8F2F3]">
        <app-data-table (ClaimItem)="claimItem($event)" (previewImage)="previewImage($event)" [showUnClaim]="true"
          [tableColumns]="displaycoloums" [isPageable]="true" [tableData]="searchResults" (sort)="handleSort($event)"
          [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15"></app-data-table>
      </div>

      <div class="grid grid-cols-5 items-center gap-4 mb-6">
        <span class="text-lg col-span-3">Search with a picture</span>
        <button mat-fab color="primary" (click)="triggerFileInput()" aria-label="Upload Image"
        class="flex justify-center items-center"
        matTooltip="Upload an image"
        [matTooltipShowDelay]="showDelay.value"
        [matTooltipHideDelay]="hideDelay.value">
  <mat-icon>camera_alt</mat-icon>
</button>
        <input #fileInput type="file" (change)="onSelect($event)" class="hidden" />
        <button *ngIf="files.length > 0" mat-icon-button matSuffix (click)="clearSearch()"
          class="flex justify-center items-center">
          <mat-icon>close_small</mat-icon>
        </button>
      </div>
      <div class="flex-grow  bg-[#E8F2F3]" *ngIf="matchedItems?.length > 0">
        <app-data-table (previewImage)="previewImage($event)" (ClaimItem)="claimItem($event)"
          (sort)="handleSort($event)" [tableColumns]="displaycoloums" [showUnClaim]="true" [isPageable]="true"
          [tableData]="matchedItems" [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
        </app-data-table>
      </div>
      <!-- <span class="search-text text-lg mb-2">Search in the below category</span> -->
      <!-- <div class="category-dropdown-container"> -->
        <mat-form-field appearance="fill" class="category-dropdown">
          <mat-label>Search with category</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="onCategorySelect($event.value)">
            <mat-option *ngFor="let category of categories" [value]="category.name">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      <!-- </div> -->
    
      <!-- Dropzone for Image Upload (Visible only on Desktop) -->
      <ngx-dropzone (change)="onSelect($event)" class="desktop-dropzone">
        <ngx-dropzone-label>
          Drag and drop image here or click to upload
        </ngx-dropzone-label>
        <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" [removable]="true" *ngFor="let f of files"
          [file]="f.file" (removed)="onRemove(f)">
          <ngx-dropzone-label class="block text-sm">{{ f.file.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>

  </div>
  <div *ngIf="!isMobileView" class=" bg-[#E8F2F3]">
    <h1 class="font-semibold max-w-3xs mr-6 text-2xl">Search and Claim</h1>
    <mat-card>
      <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-lg">
              <span class="font-semibold">Filters</span>
            </mat-panel-title>
            <mat-icon>{{ containerPanelOpened ? 'expand_less' : 'expand_more' }}</mat-icon>
          </mat-expansion-panel-header>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="relative bg-[#f8f9f9] rounded-[35px] shadow-md  p-6">
              <div class="absolute -top-3 left-6 md:left-12 text-white px-2 py-0.5 rounded-full"
                style="background-color: #1E959B">
                <p class="text-xs font-semibold" style="margin-top: 6px">Item Type Search</p>
              </div>
              <ng-container>
                <div class="text-center p-6 mt-[30px]">
                  <mat-form-field appearance="outline" class="w-full ">
                    <mat-label>Enter item name</mat-label>
                    <input type="text" matInput placeholder="Search items" [(ngModel)]="searchQuery"
                      (keyup.enter)="searchItems()" />
                    <button mat-icon-button matSuffix (click)="searchItems()" aria-label="Search">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </ng-container>
            </div>
            <!-- Picture Upload Section -->
            <div class="relative bg-[#f8f9f9] rounded-[35px] shadow-md  p-6">
              <!-- Header -->
              <div class="absolute -top-3 left-6 md:left-12 text-white px-2 py-0.5 rounded-full"
                style="background-color: #1E959B">
                <p class="text-xs font-semibold" style="margin-top: 6px">Picture Upload Search</p>
              </div>
              <ng-container>
                <div class="text-center  p-6  mt-[30px]">
                  <div class=" border-dashed  rounded-lg p-4 text-center">
                    <ngx-dropzone (change)="onSelect($event)">
                      <ngx-dropzone-label>
                        Drag and drop image here or click to upload
                      </ngx-dropzone-label>
                      <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" [removable]="true"
                        *ngFor="let f of files" [file]="f.file" (removed)="onRemove(f)">
                        <ngx-dropzone-label class="block text-sm">{{ f.file.name }}</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                </div>
              </ng-container>
            </div>
            <!-- Category Section -->
            <div class="relative bg-[#f8f9f9] rounded-[35px] shadow-md  p-6">
              <div class="absolute -top-3 left-6 md:left-12 text-white px-2 py-0.5 rounded-full"
                style="background-color: #1E959B">
                <p class="text-xs font-semibold" style="margin-top: 6px">Category Search</p>
              </div>
              <!-- Grid Content -->
              <ng-container>
                <div class="text-center   p-6  mt-[30px]">
                  <!-- <h3 class="font-medium text-lg mb-4">Category Search</h3> -->
                  <div class="h-64 overflow-y-auto p-4">
                    <div class="grid grid-cols-1 gap-4">
                      <mat-card *ngFor="let item of categories" class="shadow-md hover:bg-gray-100 cursor-pointer p-4"
                        (click)="selectCategory(item.name)">
                        <mat-card-header class="flex justify-center items-center h-12">
                          <mat-icon [ngStyle]="{ color: '#388d97' }" class="text-xl">
                            {{ getCategoryIcon(item.name) }}
                          </mat-icon>
                        </mat-card-header>
                        <mat-card-title class="text-center text-sm font-medium truncate" [title]="item.name">
                          {{ item.name }}
                        </mat-card-title>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="flex justify-end gap-4 mt-6">
            <button mat-raised-button color="primary" (click)="searchItems();saveSearch()">
              <mat-icon>search</mat-icon> Search
            </button>
            <button mat-flat-button color="primary" (click)="clearSearch()">
              Clear
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <div *ngIf="!searchResults?.length && categerorydata?.length > 0 &&  !matchedItems?.length"
    class="flex-grow mt-5 bg-[#E8F2F3]">
    <app-data-table [tableData]="categerorydata" [tableColumns]="displaycoloums" [isPageable]="true"
      [defaultPageSize]="15" [showUnClaim]="true" (ClaimItem)="claimItem($event)" (previewImage)="previewImage($event)"
      (sort)="handleSort($event)"></app-data-table>
  </div>
  <div *ngIf="!searchResults?.length && !categerorydata?.length && !matchedItems?.length"
    class="relative flex flex-col items-center justify-center">
    <img src="assets/noresults.png" class="absolute w-56 mt-36 object-contain bg-[#E8F2F3]" alt="Image" />
    <p class="mt-36 p-3 text-center text-teal-600 tracking-tight">
      No Records Found
    </p>
  </div>
  <div *ngIf="!isMobileView" class="fixed bottom-0 w-full bg-white">
    <app-form-footer></app-form-footer>
  </div>
  <div class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
    <div class="flex justify-between items-center h-16 px-4 ">
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/dashboard'" >
            <mat-icon class="text-[#00897b] ">home</mat-icon>
            <span class="text-xs">Home</span>
        </button>
       
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/viewOrUnclaim'" >
            <mat-icon class="text-[#00897b] ">visibility</mat-icon>
            <span class="text-xs">View/Unclaim</span>
        </button>
          
    </div>
</div>
  <app-loader *ngIf="loader"></app-loader>
</div>
