<div class="min-h-screen flex flex-col">
   
  
    <div  class="flex-grow mt-5 bg-[#E8F2F3] p-5">
      <app-data-table [tableColumns]="displayColumns" (previewImage)="previewImage($event)" 
      [removeArchive]="true" 
      (remove)="confirmRemove($event)"  [isPageable]="true" [tableData]="searchResults"
        [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
      </app-data-table>
    </div>
  
    <div class="flex-none">
      <app-form-footer></app-form-footer>
    </div>
    <app-loader *ngIf="loader"></app-loader>
  </div>
  