<mat-card class="w-full max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
    <mat-card-content>
      <h2 class="text-xl font-semibold mb-6 text-gray-800">Add an Item</h2>
      <mat-divider></mat-divider>
      <div class="mt-4">
        <div *ngIf="organizationList.length > 0; else noData">
          <div class="flex flex-col space-y-4">
            
            <div class="w-full">
                <mat-form-field class="w-full">
                  <mat-label>Select an Organization</mat-label>
                  <mat-select [(value)]="selected" [disabled]="true">
                    <mat-option value="{{ selected }}" disabled>{{ organizationList[0]?.orgName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
            <div class="w-full">
              <ngx-dropzone class="w-full" (change)="onSelectFile($event)" [multiple]="false" accept="image/*">
                <ngx-dropzone-label class="text-gray-500 text-center">
                  Drag and drop an image here or click to upload
                </ngx-dropzone-label>
                <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" [removable]="true" *ngFor="let f of files" [file]="f" (removed)="onRemove(f)">
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
  
            <div class="w-full">
              <button mat-raised-button color="primary" class="mt-6 w-full" [disabled]="!selected || files.length === 0" (click)="onUploadImage()">
                <mat-icon>upload</mat-icon>
                Submit
              </button>
            </div>
            
          </div>
        </div>
        <ng-template #noData>
          <p class="text-gray-500 text-center">No organizations available.</p>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
  