<div class="flex flex-row items-center justify-between content-center px-3 py-1 bg-transparent">
    <span class="font-semibold px-2 text-xl">
        {{ data.title }}
    </span>
    <button mat-icon-button type="button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content align="start" class="mt-2">
    <div *ngIf="data.message">
        <p>{{ data.message }}</p>
    </div>
    <div *ngIf="data.requiredData" class="flex flex-row justify-center gap-2 ml-auto">
        <img [src]="'data:image/jpeg;base64,' + data.requiredData.image" alt="Item Image" class="w-60 item-image justify-center" />
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="m-2" *ngIf="data.message !== 'Preview Image' ">
    <button mat-stroked-button color="warn" class="cancel-button" (click)="onCancel()">
        No
    </button>
    <button mat-flat-button color="primary" (click)="onSubmit()">Yes</button>
</mat-dialog-actions>
