<div class="h-screen flex flex-col">
  <!-- Header -->
  <header class="flex items-center justify-between bg-[#1E959B] shadow-lg h-16 z-10 relative">
    <div class="flex items-center space-x-2 m-[30px]">
      <!-- <img routerLink="" src="assets/loginLogo.jpg" class="w-18 mr-2 ml-1 h-8"> -->
      <span class="text-2xl font-semibold text-white">Claim IT</span>
    </div>
  </header>
  <div class="relative flex-grow w-full h-full bg-darkblue">
    <img src="assets/lockscreen.png" alt="Login Screen" class="absolute inset-0  w-[67%] opacity-70 h-full object-cover">
    <div class="absolute top-0 right-0 h-full bg-white/90 flex items-center justify-center w-1/3 p-8 shadow-lg">
      <div class="rounded-lg max-w-md w-full">
        <p class="text-sm font-medium text-center mb-4">Enter your credentials.</p>
        <form [formGroup]="loginForm">
          <mat-form-field class="w-full mb-4" appearance="outline">
            <mat-label>Username/Mail Id</mat-label>
            <input matInput placeholder="Enter your username" formControlName="email">
          </mat-form-field>

          <mat-form-field class="w-full mb-2" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <div class="mb-2 flex items-center justify-between space-x-3">
            <mat-checkbox>Remember me</mat-checkbox>
            <button impact="none" tone="primary" shape="rounded" size="small">
              Forgot your password?
            </button>
          </div>

          <button mat-raised-button type="button" color="primary" class="w-full mb-2" (click)="onSubmit()">Login</button>

          <button mat-button type="button" color="primary" (click)="userNavigate()">Are you a user?</button>

          <div class="text-sm text-muted-foreground mt-2 text-red-500">
            {{errMsg}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
