<div  *ngIf="role === 'admin'" class="min-h-screen bg-gray-50 p-6">
  <h1 class="flex flex-wrap lg:flex-row md:flex-row font-semibold text-lg items-center">
    <span
      class="font-semibold max-w-3xs mr-6 text-2xl max-[375px]:text-base/[17px] flex-auto cursor-pointer relative"
      (click)="openCalendarDialog()"
    >
      <mat-icon class="mr-2" style="color: #007BFF;">calendar_today</mat-icon> <!-- Calendar Icon -->
      Report for the month of 
      <span class="italic font-semibold" style="color: #007BFF; text-decoration: underline; cursor: pointer;">
        {{ selectedMonth | date: 'MMMM' }}
      </span>
    </span>
  </h1>
  

  <h1 class="text-3xl font-semibold font-extrabold text-center mb-8">Lost & Found Admin Dashboard</h1>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-8">
    <div class="bg-white shadow p-4 text-center rounded">
      <h2 class="text-xl font-semibold">Total Items</h2>
      <p class="text-2xl font-bold text-teal-500">{{ currentMonthData?.totalItems || 0 }}</p>
    </div>
    <div class="bg-white shadow p-4 text-center rounded">
      <h2 class="text-xl font-semibold">Claimed</h2>
      <p class="text-2xl font-bold text-green-500">{{ currentMonthData?.claimed || 0 }}</p>
    </div>
    <div class="bg-white shadow p-4 text-center rounded">
      <h2 class="text-xl font-semibold">Unclaimed</h2>
      <p class="text-2xl font-bold text-yellow-500">{{ currentMonthData?.unclaimed || 0 }}</p>
    </div>
    <div class="bg-white shadow p-4 text-center rounded">
      <h2 class="text-xl font-semibold">Donated</h2>
      <p class="text-2xl font-bold text-red-500">{{ currentMonthData?.donated || 0 }}</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="bg-white p-6 shadow rounded">
      <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
        <canvas baseChart [data]="PieChartData" [type]="pieChartType">
        </canvas>
        <h3 class="text-center mt-4 font-semibold">Item Categories</h3>
      </ng-container>
      <ng-template #noData>
        <p class="text-center text-gray-500">No data found for the selected month</p>
      </ng-template>
    </div>
    <div class="bg-white p-6 shadow rounded">
      <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
        <canvas baseChart style="height: 284px; width: 276px;" [data]="barChartData" [type]="barChartType">
        </canvas>
        <h3 class="text-center mt-4 font-semibold">Monthly Reports</h3>
      </ng-container>
      <ng-template #noData>
        <p class="text-center text-gray-500">No data found for the selected month</p>
      </ng-template>
    </div>


    <div class="bg-white p-6 shadow rounded">
      <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
        <canvas baseChart style="height: 284px;width: 276px;" [data]="lineChartData" [type]="lineChartType">
        </canvas>
        <h3 class="text-center mt-4 font-semibold">Items Claimed</h3>
      </ng-container>
      <ng-template #noData>
        <p class="text-center text-gray-500">No data found for the selected month</p>
      </ng-template>
    </div>

    <div class="bg-white p-6 shadow rounded">
      <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
        <canvas baseChart style="height: 284px;width: 276px;" [data]="doughnutChartData" [type]="doughnutChartType">
        </canvas>
        <h3 class="text-center mt-4 font-semibold">Claimed vs Unclaimed</h3>
      </ng-container><ng-template #noData>
        <p class="text-center text-gray-500">No data found for the selected month</p>
      </ng-template>
    </div>
  </div>

<div class="swiper-container px-6 py-4 relative bg-gray-100 rounded-lg overflow-hidden border border-gray-300">
  <h2 class="text-xl font-bold text-gray-700 mb-4">Reported items more than 30 days</h2>
  <div class="swiper-wrapper flex md:flex-row flex-col gap-4">
    <div
      *ngFor="let item of slides"
      class="swiper-slide flex justify-center items-start w-full md:w-auto"
    >
      <mat-card
        *ngIf="isTimeisup(item)"
        class="w-full md:w-60 h-auto shadow-md rounded-lg overflow-hidden bg-white cursor-pointer flex flex-col"
      >
        <mat-card-header>
          <mat-card-title
            class="cursor-pointer text-lg font-semibold text-gray-800"
            matTooltip="{{ item.title }}"
          >
            {{ item.title.slice(0, 15) }}
            <span *ngIf="item.title.length > 15">....</span>
          </mat-card-title>
          <mat-card-subtitle class="text-sm text-gray-500 cursor-pointer">
            Reported on: {{ item.foundDate | date: 'MM/dd/yyyy' }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="flex flex-col items-center cursor-pointer space-y-2">
          <img
            [src]="'data:image/jpeg;base64,' + item.image"
            alt="{{ item.title }}"
            class="w-full h-32 object-cover rounded-md mb-4"
            style="min-height: 120px;"
          />

          <div
            *ngIf="isTimeisup(item); else timeRemaining"
            class="text-sm text-center mt-4 text-gray-500 bg-orange-100 text-orange-600 py-2 px-4 rounded-lg"
          >
            Time is up!
          </div>

          <ng-template #timeRemaining>
            <div
              class="text-sm text-center mt-4 text-gray-500 bg-blue-100 text-blue-600 py-2 px-4 rounded-lg"
            >
              Time remaining:
              <span class="font-semibold">{{ item.remainingTime }}</span>
            </div>
          </ng-template>
        </mat-card-content>

        <mat-card-actions class="flex justify-between items-center p-4 mt-auto">
          <button mat-icon-button [matMenuTriggerFor]="shareMenu">
            <mat-icon>share</mat-icon>
          </button>
          <mat-card-actions class="flex justify-between items-center p-4 mt-auto">
            <button
              mat-icon-button
              *ngIf="!item.locationName"
              (click)="getLocation(item)"
            >
              <mat-icon>location_on</mat-icon>
            </button>
          </mat-card-actions>
          <div
            *ngIf="item.locationName"
            class="text-sm text-center mt-4 text-gray-500"
          >
            Location: {{ item.locationName }}
          </div>
        </mat-card-actions>

        <mat-menu #shareMenu="matMenu">
          <button
            mat-menu-item
            (click)="shareItem(item, 'whatsapp')"
          >
            <fa-icon
              [icon]="icons.whatsapp"
              class="text-green-500 mr-2"
            ></fa-icon>
            <span>Share on WhatsApp</span>
          </button>
          <button
            mat-menu-item
            (click)="shareItem(item, 'linkedin')"
          >
            <fa-icon
              [icon]="icons.linkedin"
              class="text-blue-500 mr-2"
            ></fa-icon>
            <span>Share on LinkedIn</span>
          </button>
          <button
            mat-menu-item
            (click)="shareItem(item, 'twitter')"
          >
            <fa-icon
              [icon]="icons.twitter"
              class="text-sky-500 mr-2"
            ></fa-icon>
            <span>Share on Twitter</span>
          </button>
        </mat-menu>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!showMore" class="text-center mt-4">
    <button (click)="toggleShowMore()" class="text-blue-500 hover:underline">
      View More
    </button>
  </div>

  <div class="swiper-pagination"></div>
</div>


  <div class="mt-12">
    <h2 class="text-2xl font-bold mb-6">Partnered Charitites</h2>
  
    <div class="p-6 bg-gray-100 min-h-screen">
      <!-- Button to Show New Charities -->
      <div class="text-center mb-6">
        <button (click)="displayTwoRandomCharities()"
          class="bg-teal-500 text-white px-4 py-2 rounded shadow hover:bg-teal-600 transition-colors duration-200">
          Show New Charities
        </button>
      </div>

      <!-- Charity Cards -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div *ngFor="let charity of displayedCharities"
          class="max-w-md rounded-lg overflow-hidden shadow-lg bg-white hover:shadow-2xl transition-shadow duration-300">
          <img [src]="charity.image || 'https://via.placeholder.com/300?text=Charity+Image'" alt="{{ charity.name }}"
            class="w-full h-48 object-cover" />
          <div class="p-6">
            <h3 class="text-2xl font-bold text-gray-800 mb-4">{{ charity.name }}</h3>
            <p class="text-gray-600 mb-4">{{ charity.description }}</p>
            <p class="text-sm text-teal-600 font-semibold mb-2">
              <strong>Impact:</strong> {{ charity.impact }}
            </p>
            <p class="text-sm text-blue-600 mb-4">
              <strong>How We Help:</strong> {{ charity.howWeHelp }}
            </p>
            <h4 class="font-semibold text-lg text-gray-800 mb-2">Donations:</h4>
            <div class="grid grid-cols-2 gap-4">
              <div *ngFor="let donation of charity.donations" class="flex flex-col items-center">
                <img [src]="donation.image" alt="{{ donation.name }}" class="w-24 h-24 object-cover rounded-md" />
                <p class="text-sm text-gray-700 mt-2">{{ donation.name }}</p>
              </div>
            </div>
          </div>
          <div class="px-6 py-4">
            <a [href]="charity.website" target="_blank"
              class="text-white bg-blue-500 hover:bg-blue-600 transition-colors duration-200 px-4 py-2 rounded text-sm">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
    <div class="flex justify-between items-center h-16 px-4 mx-4">
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500" [routerLink]="'/claimit/dashboard'">
            <mat-icon class="text-[#00897b] text-xl">home</mat-icon>
            <span class="text-sm mt-1">Home</span>
        </button>
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500" [routerLink]="'/claimit/addItem'">
            <mat-icon class="text-[#00897b] text-2xl">add_circle</mat-icon>
            <span class="text-xs mt-1">Add Item</span>
        </button>
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500" [routerLink]="'/claimit/search'">
            <mat-icon class="text-[#00897b] text-xl">rule</mat-icon>
            <span class="text-xs mt-1">Approve/Claim</span>
        </button>
    </div>
</div>


</div>

<div *ngIf="role !== 'admin'" class="min-h-screen overflow-x-hidden flex flex-col bg-gray-50">
  <div class="bg-blue-100 py-10 text-center">
    <h1 class="text-2xl md:text-4xl font-bold text-gray-700">Lost Something? Let’s Find It!</h1>
  </div>

  <div class="bg-green-100 p-6 rounded-md text-center mx-6 mt-6 shadow-md">
    <h2 class="text-xl font-bold text-green-700">Environmental Impact Saved</h2>
    <p class="text-4xl font-bold text-green-600">300 kg CO₂</p>
    <p class="text-gray-600">Thanks to reuniting or repurposing items!</p>

    <!-- Category-wise Breakdown -->
    <div class="mt-4 text-left text-gray-700">
      <p><strong>Plastic Items:</strong> 10 items saved ~ 100 kg CO₂</p>
      <p><strong>Clothes:</strong>10 items saved ~ 50 kg CO₂</p>
      <p><strong>Electronics:</strong>50 items saved ~ 150 kg CO₂</p>
    </div>
  </div>
  <div class="swiper-container px-6 py-4">
    <h2 class="font-bold max-w-3xs mr-6 text-2xl max-[375px]:text-base/[17px] mb-4">Recently Reported Items</h2>
    <div class="swiper-wrapper flex md:flex-row flex-col">
      <div *ngFor="let item of filteredSlides.slice(0, showMore ? filteredSlides.length : 2)"
        class="swiper-slide p-4 flex justify-center items-start w-full md:w-auto">
        <mat-card
          class="w-full md:w-60 h-auto shadow-md rounded-lg overflow-hidden bg-white cursor-pointer flex flex-col">
          <mat-card-header>
            <mat-card-title class="cursor-pointer text-lg font-semibold text-gray-800" matTooltip="{{item.title}}">
              {{ item.title.slice(0, 15) }} <span *ngIf="item.title.length > 15">....</span>
            </mat-card-title>
            <mat-card-subtitle class="text-sm text-gray-500 cursor-pointer">
              Reported on: {{ item.foundDate | date: 'MM/dd/yyyy' }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="flex flex-col items-center cursor-pointer space-y-2">
            <img [src]="'data:image/jpeg;base64,' + item.image" alt="{{ item.title }}"
              class="w-full h-32 object-cover rounded-md mb-4" style="min-height: 120px;" />

            <div *ngIf="isTimeisup(item); else timeRemaining"
              class="text-sm text-center mt-4 text-gray-500 bg-orange-100 text-orange-600 py-2 px-4 rounded-lg">
              Time is up!
            </div>
            <ng-template #timeRemaining>
              <div class="text-sm text-center mt-4 text-gray-500 bg-blue-100 text-blue-600 py-2 px-4 rounded-lg">
                Time remaining: <span class="font-semibold">{{ item.remainingTime }}</span>
              </div>
            </ng-template>
          </mat-card-content>

          <mat-card-actions class="flex justify-between items-center p-4 mt-auto">
            <button mat-icon-button [matMenuTriggerFor]="shareMenu">
              <mat-icon>share</mat-icon>
            </button>
            <mat-card-actions class="flex justify-between items-center p-4 mt-auto">
              <button mat-icon-button *ngIf="!item.locationName" (click)="getLocation(item)">
                <mat-icon>location_on</mat-icon>
              </button>
            </mat-card-actions>
            <div *ngIf="item.locationName" class="text-sm text-center mt-4 text-gray-500">
              Location: {{ item.locationName }}
            </div>
          </mat-card-actions>

          <mat-menu #shareMenu="matMenu">
            <button mat-menu-item (click)="shareItem(item, 'whatsapp')">
              <fa-icon [icon]="icons.whatsapp" class="text-green-500 mr-2"></fa-icon>
              <span>Share on WhatsApp</span>
            </button>
            <button mat-menu-item (click)="shareItem(item, 'linkedin')">
              <fa-icon [icon]="icons.linkedin" class="text-blue-500 mr-2"></fa-icon>
              <span>Share on LinkedIn</span>
            </button>
            <button mat-menu-item (click)="shareItem(item, 'twitter')">
              <fa-icon [icon]="icons.twitter" class="text-sky-500 mr-2"></fa-icon>
              <span>Share on Twitter</span>
            </button>
          </mat-menu>
        </mat-card>
      </div>
    </div>

    <div *ngIf="!showMore" class="text-center mt-4">
      <button (click)="toggleShowMore()" class="text-blue-500">View More</button>
    </div>

    <div class="swiper-pagination"></div>
  </div>
  <mat-accordion @fadeInUp>
  </mat-accordion>
  <div class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
    <div class="flex justify-between items-center h-16 px-4 ">
      <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/dashboard'" >
        <mat-icon class="text-[#00897b] ">home</mat-icon>
        <span class="text-xs">Home</span>
    </button>
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/searchAndClaim'" >
            <mat-icon class="text-[#00897b] ">search</mat-icon>
            <span class="text-xs">Search And Claim</span>
        </button>
       
        <button class="flex flex-col items-center text-gray-600 hover:text-teal-500 " [routerLink]="'/claimit/viewOrUnclaim'" >
            <mat-icon class="text-[#00897b] ">visibility</mat-icon>
            <span class="text-xs">View History</span>
        </button>
          
    </div>
</div>
</div>


<app-loader *ngIf="isLoading"></app-loader>
<div class="flex-none">
  <app-form-footer></app-form-footer>
</div>
