<div class="p-0 bg-gray-100 min-h-screen">
  <div class="flex-none px-5 pt-5 pb-2 bg-[#E8F2F3]">
    <h1 class="font-semibold text-2xl" id="claim-heading">Notifications</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-5">
    <div
      *ngFor="let notification of notifications"
      class="p-5 shadow-md rounded-lg border border-gray-200 cursor-pointer"
      [ngClass]="{
        'bg-gray-300': !notification.read,
        'bg-white': notification.read
      }"
      (click)="markAsRead(notification.id)"
    >
      <h3 class="text-lg font-semibold text-gray-800 mb-3">{{ notification.name }}</h3>
      <div class="space-y-1">
        <p class="text-sm">
          <span class="font-semibold text-gray-700">Email:</span> {{ notification.email }}
        </p>
        <p class="text-sm">
          <span class="font-semibold text-gray-700">Message:</span> {{ notification.message }}
        </p>
      </div>
    </div>
  </div>
 
<div class="fixed bottom-0 w-full bg-white border-t border-gray-200 md:hidden">
  <div class="flex justify-between items-center h-16 px-4 mx-4">
      <button class="flex flex-col items-center text-gray-600 hover:text-gray-500" [routerLink]="'/claimit/dashboard'">
          <mat-icon class="text-[#00897b] text-xl">home</mat-icon>
          <span class="text-xs mt-1">Home</span>
      </button>
      <button class="flex flex-col items-center text-gray-600 hover:text-gray-500" [routerLink]="'/claimit/addItem'">
          <mat-icon class="text-[#00897b] text-2xl">add_circle</mat-icon>
          <span class="text-xs mt-1">Add Item</span>
      </button>
      <button class="flex flex-col items-center text-gray-600 hover:text-gray-500" [routerLink]="'/claimit/search'">
          <mat-icon class="text-[#00897b] text-xl">rule</mat-icon>
          <span class="text-xs mt-1">Approve/Claim</span>
      </button>
  </div>
</div>
<app-loader *ngIf="loader"></app-loader>
</div>