.table-scroll-container {
    height: calc(100vh - 150px); 
    overflow-y: auto;
    overflow-x: hidden; 
}
@media (min-width: 768px) {
    .md\:hidden {
        display: none !important;
    }
}
.table {
    margin-bottom: -40px;
}
