<!-- <div class="add-item-container">

    <div class="add-item-header">
      <div class="header-left">
        <p>{{ currentDate | date: 'dd MMMM yyyy' }}</p> 
      </div>
      <div class="header-right">
        <button mat-icon-button color="primary" (click)="fileInput.click()"> 
          <mat-icon>add_a_photo</mat-icon>
        </button>
        <input
          type="file"
          id="fileInput"
          #fileInput
          (change)="onFileSelected($event)"
          style="display: none;"
          accept="image/*"
        />
      </div>
    </div>
  
    <app-datatable
      [tableColumns]="tableColumns"
      [tableData]="tableData"
      [isPageable]="true"
      [paginationSizes]="[5, 10, 15]"
      [defaultPageSize]="10"
      (unClaim)="handleUnclaim($event)"
    ></app-datatable>
  </div>
  

   -->
  <h1>add Item</h1>