<div class="min-h-screen flex flex-col">
    <div class="flex-none px-gutter pt-5 bg-[#E8F2F3] mb-[-40px] p-[20px]">
        <div class="flex-grow px-5">
            <div class="flex items-center justify-between shadow">
                <p class="text-gray-600 text-sm">{{ currentDate | date: 'dd MMMM yyyy' }}</p>
                <button mat-raised-button color="primary" (click)="onAddItemClick()"
                    class="flex items-center gap-2 px-4 py-2 bg-gray-500 text-white rounded-md shadow hover:bg-gray-600">
                    <mat-icon>add</mat-icon>
                    <span class="text-sm font-medium">Add Item</span>
                </button>
            </div>
            <div *ngIf="isOrganizationSelected" class="flex flex-col items-center lablestyle space-y-4">
            </div>
        </div>
    </div>
    <!-- Data Table Section -->
    
 
    <div  class="flex-grow mt-5 bg-[#E8F2F3]" [ngClass]="{ 'p-1': isMobileView, 'p-5': !isMobileView }">
        <app-data-table (previewImage)="previewImage($event)" [tableColumns]="displayColumns" 
            (sort)="handleSort($event)" [isPageable]="true" [tableData]="searchResults"
            [paginationSizes]="[5, 10, 15, 20]" [defaultPageSize]="15">
        </app-data-table>
    </div>
    <div class="flex-none">
        <app-form-footer></app-form-footer>
    </div>
<app-loader *ngIf="isLoading"></app-loader>

</div>