<div class="bg-gray-50 p-6 md:p-12">
    <div class="text-center bg-teal-600 text-white py-12 rounded-lg shadow-md">
      <h1 class="text-4xl font-bold mb-4">Reuniting Lost Items with Their Owners</h1>
      <p class="text-lg">Helping you find, claim, or donate lost items.</p>
    </div>
  
    <div class="mt-12">
      <h2 class="text-3xl font-semibold text-center mb-6">How It Works</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="text-center p-6 bg-white shadow rounded-lg">
          <mat-icon class="text-teal-500 text-6xl overflow-visible mb-4">search</mat-icon>
          <h3 class="text-xl font-semibold mb-2">Find</h3>
          <p>Search for your lost items easily using our platform.</p>
        </div>
        <div class="text-center p-6 bg-white shadow rounded-lg">
          <mat-icon class="text-teal-500 text-6xl mb-4">how_to_reg</mat-icon>
          <h3 class="text-xl font-semibold mb-2">Claim</h3>
          <p>Claim ownership by providing valid details and proof.</p>
        </div>
        <div class="text-center p-6 bg-white shadow rounded-lg">
          <mat-icon class="text-teal-500 text-6xl mb-4">volunteer_activism</mat-icon>
          <h3 class="text-xl font-semibold mb-2">Donate</h3>
          <p>Unclaimed items will be donated to a charity.</p>
        </div>
      </div>
    </div>
  
    <div class="mt-12">
      <h2 class="text-3xl font-semibold text-center mb-6">Success Stories</h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let p of slides">
            <div class="text-center p-6 bg-white shadow rounded-lg w-72">
              <p>{{p.para}}</p>
              <span class="block mt-4 text-right font-semibold text-teal-500">- {{p.name}}</span>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  <div class="flex-none">
    <app-form-footer></app-form-footer>
</div>